extends ../_layout

block app-title
    | Contact | EventManagementSystem

block vars
   - var bodyClass = 'login';

block additionalCss
    link(rel="stylesheet", href="/static/styles/contact-form.css")

block content
    .top-container
        .inner-bg
            .container
                .row
                div.title
                    h1
                        strong Contact us
                .row
                    .col-sm-6.login-form-wrapper
                        .div
                        .form-box
                            .form-top
                                form(role="form" action="" method="post" class="contact-form" id="contact-form")
                                    .form-group.input
                                        br
                                        h4 From:
                                        if user
                                            input(type="text" class="form-control" name="userEmail" placeholder="Your email" value= user.email class="form-user-email form-control" id= "form-user-email")
                                            br
                                        else
                                            input(type="text" class="form-control" name="userEmail" placeholder="Your email" class="form-user-email form-control" id= "form-user-email")
                                            br
                                        span.error.error-email
                                    .form-group.input
                                        h4 Subject:
                                        input(type="text" class="form-control" name="subject" class="form-subject form-control" id= "form-subject")
                                        span.error.error-subject
                                    .form-group.input
                                        h4 Message:
                                        textarea(type="text" class="form-control" name="inputMessage" id= "message")
                                        span.error.error-message
                                    .form-group
                                        h4(class="sr-only" id="response-message")
                                    br
                                    button(type="button" class="btn button is-checked" data-filter="*" id= "send-email-button") Send
block specificJs
    script(src="/static/scripts/users/contact-form.js")