extends _layout

block app-title
    | EventManagementSystem

block vars
   - var bodyClass = 'home';

block content
    #homepage-cover
        #homepage-cover-captions.vertical-center
            .container
                div
                    h2#hp-caption-title.caption-big EVENTS
                p#hp-caption-subtitle Learn about new social events near you and subscribe with ease...
                div#hp-caption-buttons.buttons
                    a.btn.btn-green(href="/events") Discover
                    if !user
                        a.btn.btn-white(href="/login") Login or Register