extends _layout

block app-title
    | Unauthorized | EventManagementSystem

block vars
   - var bodyClass = 'home';

block content
    #homepage-cover
            #homepage-cover-captions.vertical-center
                .container
                    h1 Unathorized!!!